@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Anybody:wght@600&family=Bebas+Neue&family=Chathura:wght@100;300&family=Cormorant:wght@300&family=Covered+By+Your+Grace&family=Italiana&family=Lato:ital,wght@1,900&family=Oswald:wght@700&family=Oxygen&family=Playfair+Display&family=Poppins:wght@800&family=Prosto+One&family=Roboto+Condensed&family=Roboto:wght@400;900&family=Syne:wght@800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5vh;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  
}

/* font-family: 'Alumni Sans Pinstripe', sans-serif;
font-family: 'Anybody', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Chathura', sans-serif;
font-family: 'Cormorant', serif;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Italiana', serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Prosto One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Syne', sans-serif; */